@page "/movie/{id:int}"
@inject TMDBClient TMDB


@if (movieDetails is null)
{
    <p><em>Loading the movie...</em></p>
}
else
{
    <h1>@movieDetails.Title</h1>
    <p>@movieDetails.Overview</p>
    
}

@code {
    [Parameter]
    public int Id { get; set; }    

    public MovieDetails? movieDetails;

    protected override async Task OnInitializedAsync()
    {
        movieDetails = await TMDB.GetMovieDetailsAsync(Id);
    }
}
