<div class="d-flex align-items-center justify-content-center gap-3">
    <button class="btn btn-primary rounded-pill" disabled="@(CurrentPage<=1)">
        <i class="bi bi-arrow-left"</i>
    </button>

    <span>Page @CurrentPage of @TotalPages</span>

    <button class="btn btn-primary rounded-pill" disabled="@(CurrentPage>=TotalPages)">
        <i class="bi bi-arrow-right"</i>
    </button>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public int CurrentPage { get; set; }

    [Parameter]
    [EditorRequired]
    public int TotalPages { get; set; }
}
